<h2>Our Teas</h2>
<a href="#/cart">
  <button class="cart"><i class="fa fa-shopping-cart"> </i> {{teasInCart.length ? 'Cart (' + teasInCart.length + ')' : 'Cart Empty'}}
  </button>
</a>
<div class="filter group">
  <h4>Category:
    <select name="" id="" ng-model='categorySearch'>
      <option value="">all</option>
      <option value="dark">dark</option>
      <option value="cold">cold</option>
      <option value="awesome">awesome</option>
      <option value="dry">dry</option>
      <option value="hot">hot</option>
      <option value="summer">summer</option>
      <option value="lucid">lucid</option>
      <option value="warm">warm</option>
      <option value="winter">winter</option>
      <option value="spring">spring</option>
    </select>
  </h4>
  <h4>Price:
    <select ng-model="teaPrice" ng-init="teaPrice = 'price'" >
      <option value="price">lowest</option>
      <option value="-price">highest</option>
    </select>
  </h4>
  <label>
  <input type="text" ng-model="name" placeholder="search"></label>
</div>
<table>
  <tr class='table-head'>
    <th>Tea</th>
    <th>Product Information</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <tr ng-repeat='tea in teaArr | filter: {categories: categorySearch} | filter:name | orderBy:teaPrice'>
    <td><img src="{{tea.imageUrl}}" alt=""></td>
    <td><h3>{{tea.name}}</h3>
      <p><strong>ingredients: </strong>{{tea.ingredients}}</p>
      <p><strong>Categories: </strong>
        <span class="category" ng-repeat='category in tea.categories'>
          {{category}},
        </span>
      </p>
      <p><strong>In Stock?</strong>
        <i ng-class='{"fa fa-check": tea.inStock, "fa fa-times": !tea.inStock}'></i>
      </p>
      <p>
        <strong>Caffeine Level:</strong> {{tea.caffeineScale}}
      </p>
      <div class="scale">
        <div class="scale-icon" style="display: inline-block; margin-left: {{tea.caffeineScale * .67}}px"></div>
      </div>
    </td>
    <td>{{tea.price/100 | currency}}</td>
    <td>
      <select name="" id="" ng-model='quantity'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </td>
    <td><button ng-click='addToCart(tea, quantity)'>Add to Cart</button></td>
  </tr>
</table>
