table {
  text-align: left;
  background: $white;
  width: 100%;
  border-collapse: collapse;
  button {
    background: $yellow;
  }
}

td {
  border: 1px solid #eee;
  vertical-align: top;
  padding: 8px;
}

td.edit {
  button {
    width: 100%;
    margin-bottom: 12px;
  }
}

td:nth-child(1) {
  width: 15%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
  width: 15%;
  text-align: center;
}

.table-head {
  background: $muted-green;

  th {
    padding: 12px;
    color:$grey;
  }
}
